body {
    background:  rgb(249, 236, 236);
    font-family: 'Jersey 15', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#player-choice{
    max-width: 100%;
    max-height: 100%; 
    padding: 5px;
    
}

#computer-choice{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    
}
.container {
    display: flex;
    column-gap: 100px;
    margin-top: 5px;
    
}

.text-box{
    font-family: 'Courier New', Courier, monospace;
    color:brown;
    display: relative;
}

img.logo{
    max-width: 20%;
    max-height: 20%;
    padding-right: 5px;
    display: relative;
    float: left;
   
}
.heading{
    font-size: 3.5rem;
    color: gray;
    position: flex;
    height: 50%;
    text-align: center;
    display: relative;
    margin-bottom: 30px;
    
}
.movesleft, .move {
    font-family: "Jersey 15", sans-serif;
    font-size:2rem;
    color: gray;
    text-align: center;
    display: relative;
    margin-bottom: 1%;

}
.choices{
    margin-bottom: 50px;
    
}
.choices button{
    font-size :1rem;
    margin: 0 30px;
    border-radius: 100px;
    background-color: #fff6d5;
    transition: background-color 0.5s ease;
    display: relative;
}

.choices button:hover{
    background-color: rgb(167, 230, 238);
}
img.rock{
    width: 30%;
    height: 20%;   
}
img.paper{
    width: 30%;
    height: 20%;
}
img.scissors{
    width: 30%;
    height: 20%;
}
img.lizard{
    width: 30%;
    height: 20%;
}
img.spock{
    width: 30%;
    height: 20%;
}

#playerDisplay, #computerDisplay{
    font-size: 3rem;
    color:rgb(135, 133, 237);
    margin: 20px 0;
    align-items: center;
}
#resultDisplay {
    font-size: 3rem;
    color: red;
    margin: 20px 0;
}
#playerScore, #computerScore {
    font-size: 3rem;
    color:green;
    margin: 20px 0;  

}

/* Footer */

footer h2 {
    color: gray;
    display: relative;
    text-align: center;
  
}