body {
    background:  rgb(249, 236, 236);
    font-family: 'Jersey 15', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 100%; 
}
/* Area to show a picture of the game and the title of this game */

img.logo{
    max-width: 40%;
    max-height: 50%;
    display: relative;
    float: left;
}
.heading{
    font-size: 2rem;
    color: gray;
    position: flex;
    width:80%;
    text-align: center;
    display: relative;
    margin-bottom: 30px;
}
/* Add style to the player and computer choices */

#player-choice{
    max-width: 60%;
    max-height: 60%; 
    padding: 5px;
    margin-left: 10px;
}

#computer-choice{
    max-width: 60%;
    max-height: 60%;
    padding: 5px;
    margin-left: 10px;
}
.container {
    display: flex;
    column-gap: 2px;
    margin-top: 1px;
    margin-left: 10%;
}

.text-box{
    font-family: 'Courier New', Courier, monospace;
    color:brown;
    display: relative;
    margin-left: 15%;
}
/* Add style to move left area */

.movesleft, .move {
    font-family: "Jersey 15", sans-serif;
    font-size:1.5rem;
    color: gray;
    text-align: center;
    display: relative;
    margin-bottom: 2%;
}
/* Add style to buttons of all 5 choices */

.choices{
    margin-bottom: 30px; 
}
.choices button{
    font-size :1rem;
    margin: 2 100px;
    width: 40%;
    border-radius: 100px;
    background-color: #fff6d5;
    transition: background-color 0.5s ease;
    display: relative;
    margin-left: 20px;   
}
/* style to make change of color when the chosen buttton is being clicked */

.choices button:hover{
    background-color: rgb(167, 230, 238);
}
/* Add styles to the image of 5 choices */

img.rock{
    width: 30%;
    height: 20%;   
}
img.paper{
    width: 32%;
    height: 20%;
}
img.scissors{
    width: 32%;
    height: 20%;
}
img.lizard{
    width: 30%;
    height: 20%;
}
img.spock{
    width: 30%;
    height: 20%;
}
/* Add style to the player, computer and result displays */

#playerDisplay, #computerDisplay{
    font-size: 2rem;
    color:rgb(135, 133, 237);
    margin: 10px 1;
    align-items: center;
    margin-top: 1%;
}
#resultDisplay {
    font-size: 2rem;
    color: red;
    margin: 20px 0;
}
#playerScore, #computerScore {
    font-size: 2rem;
    color:green;
    margin: 10px 1;  
}
/* Add style to reset button */

.score-area button {
    background-color: rgb(158, 90, 221);
    width: 30%;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color:azure;
    font-weight: bold;
    border-color: aliceblue; 
}

/* Footer */

footer h2 {
    color: gray;
    display: relative;
    text-align: center;
}

/* Media query: tablets and larger , 768px and up) */
@media screen and (min-width: 768px) {

#player-choice {
    margin-left: 70px;
}
#computer-choice {
    margin-left: 70px;
}

.text-box {
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 10%;
}
.movesleft, .move {
    font-size: 2rem;
    margin-bottom: 1px;
}
    
.choices button {
    width: 35%;
    margin-left: 50px;
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#playerScore, #computerScore{
    font-size: 2.5rem;
}
.score-area button {
    width: 30%;
    font-size: 1.3rem;
}
} 

/* Media query: tablets and larger , 768px and up) */
@media screen and (min-width: 768px){

    .heading {
        font-size: 4rem;
        width: 90%;
        margin-bottom: 5px;
    }
    img.logo {
        width: 30%;
    }
    .text-box {
        font-size: 25px;
        margin-left: 2%;   
    }
    .movesleft, .move {
        font-size: 2.5rem;
    }
    .choices button {
        margin-left: 90px;
        align-items: relative;         
    }
    #playerDisplay, #computerDisplay {
        font-size: 2.3rem;
    }
    #playerScore, #computerScore{
        font-size: 2.3rem;
    }
    .score-area button {
        width: 30%;
        font-size: 1.3rem;
    }
}
/* Media query: tablets and larger , 1024px and up) */
@media screen and (min-width: 1024px){

    #player-choice {
        min-width: 65%;
    }
    #computer-choice {
        min-width: 65%;
    }
    #playerDisplay, #computerDisplay{
        font-size: 2.5rem;
    }
    #playerScore, #computerScore{
        font-size: 2.5rem;
    }
    .score-area button{
        width: 40%;
        font-size: 1.5rem;
    }
}
/* Media query: tablets and larger , 1920px and up) */
@media screen and (min-width: 1920px){

    body{
        min-height: 50vh;
        min-width: 50vh;
    }
    img.logo {
        width: 15%;
    }
    .heading {
        font-size: 8rem;
        width: 90%;
        margin-bottom: 5px;
    }
    .container {
        display: flex;
        column-gap: 70%;
        margin-top: 1px;
        margin-right: 30%;
        align-items: center;
    }
 
    #player-choice{
        max-width: 300%;
        max-height: 300%;
        padding: 50px;  
    }
    #computer-choice{
        max-width: 300%;
        max-height: 300%;
        padding: 50px;    
    }
    
    .choices button{
        
        align-items: center;
        justify-content: flex-end;
        width: 15%;   
    }
    .text-box {
        font-size: 200%;
        margin-left: 50%;
        margin-bottom: 10%;
        width: 250%;   
    } 

    #playerDisplay, #computerDisplay{
        font-size: 3rem;
        align-items: center;
    }
    #playerScore, #computerScore{
        font-size: 3rem;
    }
    .movesleft, .move{
        font-size: 3rem;
    }
    .score-area button{
        width: 30%;
        font-size: 1.5rem;
    }
}
